---



import { db, Comment, Author, Post, eq, Likes,  } from 'astro:db';
import {getAuthorByPostId, getAuthorByEmail, getAllAuthors} from '../controller/author'
import {getAllPosts, getPostsWithDetails, } from '../controller/post'
import {login } from '../controller/auth'


import About from './about.astro';

await login('felix.kuhbier@gmx.de', 'abc')
---

<h2>Comments</h2>

{
  // comments.map(({  }) => (
  //   <article>
  //     <p>{Comment.content}</p>
  //     <small>{Author.name}</small>

  //   </article>

  // ))

  
}



