---


import { db, Comment, Author, Post, eq } from 'astro:db';

const post = await db.select().from(Post).innerJoin(Comment, eq(Post.commentId, Comment.commentId))
const commentsWithAuthors = await db.select()
 .from(Comment)
 .innerJoin(Author, eq(Comment.authorId, Author.authorId))
 
---

<h2>Comments</h2>

{
  post.map(({ Post, Comment }) => (
    <article>
      <h1>{Post.title}</h1>
      
      <p>{Post.body}</p>
      <p>{Comment.content}</p>
    </article>
  ))

  
}

